body {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #090b1a;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .card {
  width: 90%;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1b1938;
  color: white;
  font-family: "Inter", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}

body .card .hero-image {
  width: 100%;
}

.card-text {
  margin: 40px 20px 0px 20px;
}

.card-text .main-info {
  margin-bottom: 15px;
}

.card-text .main-info .header {
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.card-text .main-info .insights {
  color: #aa5cdb;
}

.card-text .text-primary {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.card-text .text-primary .description {
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 0.2px;
}

.card-text .stats .block-one, .card-text .stats .block-two, .card-text .stats .block-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
  line-height: 1.7;
  text-transform: uppercase;
}

.card-text .stats .block-one .number-one, .card-text .stats .block-two .number-one, .card-text .stats .block-three .number-one {
  text-transform: lowercase;
}

.card-text .stats .number-one, .card-text .stats .number-two, .card-text .stats .number-three {
  margin: auto;
  font-size: 28px;
}

.card-text .stats .text-one, .card-text .stats .text-two, .card-text .stats .text-three {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.4px;
  margin: auto;
}

.footer {
  width: 100%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 5px;
}

.footer .attribution {
  margin: auto;
  text-align: center;
  width: 90%;
  font-family: "Lexend Deca", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.footer .attribution a {
  color: white;
}

/*
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

*/
/*# sourceMappingURL=style.css.map */